# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# IDE / Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs and envs
*.log
.env
dump.rdb
